@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul, ol {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

body {
  color: #827C8A;
  font-size: 14px;
  font-family: "Rubik", sans-serif !important;
  font-weight: 400;
  color: #827C8A;
}
.open-menu body {
  overflow: hidden;
}

::-moz-selection { /* Code for Firefox */
  color: rgb(255, 255, 255);
  background: #EDBA36;
}

::selection {
  color: rgb(255, 255, 255);
  background: #EDBA36;
}

h1 {
  font-size: 60px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  max-width: 626px;
  margin-bottom: 30px;
}
@media (max-width: 1199px) {
  h1 {
    font-size: 50px;
  }
}
@media (max-width: 1023px) {
  h1 {
    font-size: 48px;
  }
}
@media (max-width: 991px) {
  h1 {
    font-size: 42px;
    margin-bottom: 15px;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 38px;
  }
}
@media (max-width: 575px) {
  h1 {
    font-size: 32px;
  }
}

h2 {
  font-size: 36px;
  font-weight: 500;
  text-transform: uppercase;
  color: #28252C;
  line-height: 1.3;
}
@media (max-width: 1199px) {
  h2 {
    font-size: 32px;
  }
}
@media (max-width: 1023px) {
  h2 {
    font-size: 28px;
  }
}
@media (max-width: 991px) {
  h2 {
    font-size: 26px;
  }
}
@media (max-width: 767px) {
  h2 {
    font-size: 22px;
  }
}

h3 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #28252C;
  text-transform: uppercase;
}
@media (max-width: 1199px) {
  h3 {
    font-size: 22px;
  }
}
@media (max-width: 991px) {
  h3 {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  h3 {
    font-size: 18px;
  }
}

h4 {
  font-size: 18px;
  font-weight: 400;
  color: #28252C;
  margin-bottom: 5px;
}

h5 {
  font-size: 18px;
  font-weight: 600;
  color: #28252C;
  margin-bottom: 15px;
}

.yellow-btn.mat-mdc-raised-button {
  padding: 0 16px;
}
.yellow-btn.mat-mdc-raised-button:not(:disabled) {
  background-color: #EDBA36;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #EDBA36;
  font-family: "Rubik", sans-serif !important;
  min-height: 48px;
  border-radius: 8px;
  font-weight: 500 !important;
  color: rgb(255, 255, 255) !important;
  font-size: 16px;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .yellow-btn.mat-mdc-raised-button:not(:disabled) {
    min-height: 40px;
  }
}
.yellow-btn.mat-mdc-raised-button:not(:disabled) .mdc-button__label {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.yellow-btn.mat-mdc-raised-button:not(:disabled):hover {
  background-color: #9327ff;
  border: 1px solid rgb(255, 255, 255);
}

.lg-btn.mat-mdc-raised-button:not(:disabled) {
  min-height: 56px;
}
@media (max-width: 767px) {
  .lg-btn.mat-mdc-raised-button:not(:disabled) {
    min-height: 48px;
  }
}

.btn.mat-mdc-outlined-button:not(:disabled) {
  border-color: #9327ff;
  padding: 0 18px;
  color: #9327ff;
  text-transform: uppercase;
  font-weight: 500;
  transition: all 0.5s;
  border-radius: 6px;
}
.btn.mat-mdc-outlined-button:not(:disabled):hover {
  background-color: #9327ff;
  color: rgb(255, 255, 255);
}
.btn.mat-mdc-outlined-button .mat-mdc-button-touch-target {
  height: 36px;
}

a.mdc-button {
  padding: 0 40px 0 0;
}

.mat-mdc-button {
  font-family: "Rubik", sans-serif !important;
}
.mat-mdc-button .mat-mdc-button-persistent-ripple::before {
  content: none !important;
}

.mat-mdc-form-field {
  font-family: "Rubik", sans-serif !important;
}
.mat-mdc-form-field select {
  width: 100%;
}
.mat-mdc-form-field .mat-mdc-form-field-infix {
  min-height: 22px;
  padding: 0 !important;
}
@media (max-width: 767px) {
  .mat-mdc-form-field .mat-mdc-form-field-infix {
    min-height: 46px;
    display: inline-flex;
    align-items: center;
  }
}
.mat-mdc-form-field .mat-mdc-form-field-infix .mat-mdc-select {
  font-family: "Rubik", sans-serif !important;
  color: #827C8A;
}
.mat-mdc-form-field .mat-mdc-form-field-infix .mat-mdc-select[aria-expanded=true] .mat-mdc-select-arrow {
  transform: rotate(180deg);
}
.mat-mdc-form-field .mat-mdc-form-field-infix .mat-mdc-select .mat-mdc-select-arrow-wrapper .mat-mdc-select-arrow {
  background-image: url(/assets/images/arrow-down.svg);
  background-repeat: no-repeat;
  position: absolute;
  width: 20px;
  height: 13px;
  right: 16px;
  top: 5px;
  transition: all 0.5s;
}
.mat-mdc-form-field .mat-mdc-form-field-infix .mat-mdc-select .mat-mdc-select-arrow-wrapper svg {
  display: none;
}
.mat-mdc-form-field .mat-mdc-form-field-infix .mat-mdc-select .mat-mdc-select-value {
  padding: 0 40px 0 36px;
}
.mat-mdc-form-field:not(:last-child) .mat-mdc-select-value {
  border-right: 2px solid rgba(130, 124, 138, 0.25);
}
@media (max-width: 767px) {
  .mat-mdc-form-field:not(:last-child) .mat-mdc-select-value {
    border: none;
  }
}
.mat-mdc-form-field .mdc-text-field--filled {
  padding: 0 8px;
}
@media (max-width: 767px) {
  .mat-mdc-form-field .mdc-text-field--filled {
    padding: 0 20px;
  }
}
.mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: rgb(255, 255, 255);
}
.mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-text-field__input {
  color: #827C8A;
}
.mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::before {
  border: none;
}
.mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-line-ripple::after {
  border: none;
}
.mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled):hover {
  background-color: rgb(255, 255, 255);
}
@media (max-width: 767px) {
  .mat-mdc-form-field .mdc-text-field--filled:not(.mdc-text-field--disabled) {
    border-radius: 6px;
  }
}
.mat-mdc-form-field .mdc-text-field--filled .mat-mdc-form-field-flex {
  align-items: center;
}
.mat-mdc-form-field .mdc-text-field--filled .mat-mdc-form-field-flex .mat-mdc-floating-label {
  top: 50%;
}
.mat-mdc-form-field .mat-mdc-form-field-subscript-wrapper {
  display: none;
}
.mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  opacity: 0 !important;
}

.two-grid .mat-mdc-form-field {
  flex: 0 0 50%;
  max-width: 50%;
}
.two-grid .mat-mdc-form-field:first-child .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input {
  padding: 0 0 0 31px;
  border-right: 2px solid rgba(130, 124, 138, 0.25);
}
@media (max-width: 767px) {
  .two-grid .mat-mdc-form-field:first-child .mdc-text-field--no-label:not(.mdc-text-field--textarea) .mat-mdc-form-field-input-control.mdc-text-field__input {
    border: none;
  }
}
@media (max-width: 767px) {
  .two-grid .mat-mdc-form-field {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 10px;
  }
}

.three-grid .mat-mdc-form-field {
  flex: 0 0 33.33%;
  max-width: 33.33%;
}
@media (max-width: 767px) {
  .three-grid .mat-mdc-form-field {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 10px;
  }
}

.cdk-overlay-pane:not(.mat-mdc-select-panel-above) div.mat-mdc-select-panel {
  border-radius: 8px !important;
  margin-top: 20px;
}
.cdk-overlay-pane:not(.mat-mdc-autocomplete-panel-above) div.mat-mdc-autocomplete-panel {
  border-radius: 8px !important;
  margin-top: 20px;
}
.cdk-overlay-pane .mat-mdc-select-panel {
  padding: 15px 0;
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option {
  transition: all 0.5s;
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option:hover {
  background-color: #EDBA36;
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option:hover .mdc-list-item__primary-text {
  color: white;
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option .mdc-list-item__primary-text {
  color: #827C8A;
  font-family: "Rubik", sans-serif !important;
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: #EDBA36;
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):not(.mat-mdc-option-multiple) {
  background-color: rgb(255, 255, 255);
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):hover {
  background-color: #EDBA36;
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled):hover .mdc-list-item__primary-text {
  color: rgb(255, 255, 255);
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option.mat-mdc-option-active.mdc-list-item {
  background-color: rgb(255, 255, 255);
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option.mat-mdc-option-active:hover {
  background-color: #EDBA36;
  color: rgb(255, 255, 255);
}
.cdk-overlay-pane .mat-mdc-select-panel .mat-mdc-option .mat-pseudo-checkbox-minimal {
  display: none;
}
.cdk-overlay-pane .mat-mdc-autocomplete-panel {
  padding: 10px 0;
}
.cdk-overlay-pane .mat-mdc-autocomplete-panel .mat-mdc-optgroup .mat-mdc-option {
  transition: all 0.5s;
}
.cdk-overlay-pane .mat-mdc-autocomplete-panel .mat-mdc-optgroup .mat-mdc-option:not(.mat-mdc-option-multiple):hover {
  background-color: #EDBA36;
  color: rgb(255, 255, 255);
}
.cdk-overlay-pane .mat-mdc-autocomplete-panel .mat-mdc-optgroup .mat-mdc-option:not(.mat-mdc-option-multiple):hover.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: rgb(255, 255, 255);
}
.cdk-overlay-pane .mat-mdc-autocomplete-panel .mat-mdc-optgroup .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: #EDBA36;
}
.cdk-overlay-pane .mat-mdc-autocomplete-panel .mat-mdc-optgroup .mat-mdc-option .mdc-list-item__primary-text {
  font-family: "Rubik", sans-serif !important;
}
.cdk-overlay-pane .mat-mdc-autocomplete-panel .mat-mdc-optgroup .mat-mdc-option .mat-pseudo-checkbox {
  display: none;
}
.cdk-overlay-pane .mat-datepicker-content {
  border-radius: 8px;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}
.cdk-overlay-pane .mat-datepicker-content .mat-calendar {
  font-family: "Rubik", sans-serif !important;
}
.cdk-overlay-pane .mat-datepicker-content .mat-calendar .mat-calendar-body-cell-content {
  color: #827C8A;
}
.cdk-overlay-pane .mat-datepicker-content .mat-mdc-form-field-icon-prefix {
  padding: 0;
}
.cdk-overlay-pane .mat-datepicker-content .mat-mdc-button:not(:disabled) {
  color: #28252C;
}
.cdk-overlay-pane .mat-datepicker-content .mat-mdc-button .mat-calendar-arrow {
  fill: rgba(130, 124, 138, 0.25);
}
.cdk-overlay-pane .mat-datepicker-content .mat-calendar-previous-button::after {
  color: rgba(130, 124, 138, 0.25);
}
.cdk-overlay-pane .mat-datepicker-content .mat-calendar-next-button::after {
  color: rgba(130, 124, 138, 0.25);
}
.cdk-overlay-pane .mat-datepicker-content .mat-calendar-body-label {
  color: #28252C;
}
.cdk-overlay-pane .mat-datepicker-content .mat-calendar-body-today:not(.mat-calendar-body-selected):not(.mat-calendar-body-comparison-identical) {
  border-color: #EDBA36;
  background-color: rgba(237, 186, 54, 0.2117647059) !important;
}
.cdk-overlay-pane .mat-datepicker-content .mat-calendar-body-cell:hover .mat-calendar-body-cell-content {
  background-color: rgba(237, 186, 54, 0.2117647059) !important;
}
.cdk-overlay-pane .mat-datepicker-content .mat-calendar-body-cell .mat-calendar-body-selected {
  background-color: #EDBA36;
  color: rgb(255, 255, 255);
}

.cdk-overlay-container {
  z-index: 1300;
}
.cdk-overlay-container .cdk-overlay-pane.mat-mdc-dialog-panel {
  max-width: 1140px;
  margin: 0 25px;
  width: 100%;
}
.cdk-overlay-container .mdc-dialog__surface {
  overflow: visible !important;
}

.mat-mdc-icon-button svg {
  fill: #EDBA36;
}

.madal-content {
  position: relative;
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding: 5px;
}
.madal-content .video-block {
  position: relative;
  padding-bottom: 52%;
  overflow: hidden;
}
.madal-content .video-block .video-inner-block {
  position: absolute;
  width: 100%;
}
.madal-content .video-block .video-inner-block video {
  height: 100%;
  width: 100%;
}
.madal-content .close-btn {
  position: absolute;
  top: -40px;
  right: 0;
  border: none;
  border-radius: 50%;
  background-color: #9327ff;
  height: 30px;
  width: 30px;
  padding: 5px;
  cursor: pointer;
  outline: none;
}
@media (max-width: 575px) {
  .madal-content .close-btn {
    top: -35px;
    height: 25px;
    width: 25px;
    padding: 3px;
  }
}

.container {
  max-width: 1240px;
  margin: 0 auto;
  padding: 0 50px;
  width: 100%;
}
@media (max-width: 1199px) {
  .container {
    padding: 0 25px;
  }
}

.heading {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 30px;
}
@media (max-width: 575px) {
  .heading {
    margin-bottom: 20px;
    flex-direction: column;
    align-items: flex-start;
  }
}
.heading.margin-bottom {
  margin-bottom: 40px;
}
@media (max-width: 1199px) {
  .heading.margin-bottom {
    margin-bottom: 30px;
  }
}
@media (max-width: 767px) {
  .heading.margin-bottom {
    margin-bottom: 10px;
  }
}
@media (max-width: 575px) {
  .heading h2 {
    margin-bottom: 15px;
  }
}

.card-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.card-wrapper .card-inner {
  flex: 0 0 25%;
  max-width: 25%;
}
@media (max-width: 991px) {
  .card-wrapper .card-inner {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 479px) {
  .card-wrapper .card-inner {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.site-header {
  padding: 30px 0;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1200;
  transition: all 0.5s;
}
.sticky-header .site-header {
  padding: 15px 0;
  background-color: #9327ff;
}
.site-header .mat-toolbar-single-row {
  padding: 0;
}
.site-header .header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.site-header .header-wrapper .nav-listing {
  display: flex;
  align-items: center;
}
@media (max-width: 1199px) {
  .site-header .header-wrapper .nav-listing {
    transform: translate(110%);
    position: fixed;
    right: 0;
    top: 0;
    transition: all 0.5s;
    width: 350px;
    background-color: rgb(255, 255, 255);
    padding-top: 80px;
    display: block;
    bottom: 0;
  }
}
.open-menu .site-header .header-wrapper .nav-listing {
  transform: translate(0%) !important;
}
.site-header .header-wrapper .nav-listing li a {
  color: rgb(255, 255, 255);
  font-size: 16px;
  display: inline-block;
  text-transform: uppercase;
  transition: all 0.5s;
  font-weight: 400;
}
.site-header .header-wrapper .nav-listing li a:hover {
  color: #EDBA36;
}
.open-menu .site-header .header-wrapper .nav-listing li a {
  color: #EDBA36;
}
.open-menu .site-header .header-wrapper .nav-listing li a:hover {
  color: #9327ff;
}
.open-menu .site-header .header-wrapper .nav-listing li a.yellow-btn {
  width: 100%;
  text-align: center;
}
.site-header .header-wrapper .nav-listing li:last-child {
  padding-left: 25px;
}
@media (max-width: 1199px) {
  .site-header .header-wrapper .nav-listing li {
    padding: 10px 20px;
  }
}
.site-header .header-wrapper .hamburger-icon {
  display: none;
  min-height: 55px;
  cursor: pointer;
  position: relative;
}
@media (max-width: 1199px) {
  .site-header .header-wrapper .hamburger-icon {
    display: block;
  }
}
.site-header .header-wrapper .hamburger-icon span {
  background-color: rgb(255, 255, 255);
  display: block;
  height: 4px;
  width: 31px;
  margin-bottom: 5px;
  transition: all 0.5s;
}
.open-menu .site-header .header-wrapper .hamburger-icon span:nth-child(1) {
  position: absolute;
  top: 10px;
  transform: rotate(45deg);
}
.open-menu .site-header .header-wrapper .hamburger-icon span:nth-child(2) {
  opacity: 0;
}
.open-menu .site-header .header-wrapper .hamburger-icon span:nth-child(3) {
  transform: rotate(-45deg);
}
.open-menu .site-header .header-wrapper .hamburger-icon span {
  background-color: #9327ff;
}
.site-header .mat-toolbar.mat-primary {
  background-color: transparent;
}

.main-section .banner-section {
  position: relative;
  padding: 110px 0 50px;
  min-height: 660px;
}
.main-section .banner-section .banner-image {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.main-section .banner-section .banner-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-section .banner-section .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 55%;
  transform: translateY(-55%);
}
.main-section .banner-section .container .banner-content {
  max-width: 780px;
}
.main-section .banner-section .container .banner-content .content-wrapper {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  margin-bottom: 20px;
}
@media (max-width: 767px) {
  .main-section .banner-section .container .banner-content .content-wrapper {
    background-color: transparent;
    margin-bottom: 10px;
  }
}
.main-section .banner-section .container .banner-content .content-wrapper label {
  position: absolute;
}
.main-section .banner-section .container .banner-content .content-wrapper .inner-content-wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 56px;
  align-items: center;
  padding: 0 10px;
}
.main-section .easy-steps-section {
  padding: 80px 0;
}
@media (max-width: 1199px) {
  .main-section .easy-steps-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .main-section .easy-steps-section {
    padding: 40px 0;
  }
}
.main-section .easy-steps-section .card-wrapper {
  display: flex;
  margin: 0 -20px;
}
@media (max-width: 1199px) {
  .main-section .easy-steps-section .card-wrapper {
    margin: 0 -13px;
  }
}
@media (max-width: 991px) {
  .main-section .easy-steps-section .card-wrapper {
    margin: 0 -13px -25px;
  }
}
@media (max-width: 479px) {
  .main-section .easy-steps-section .card-wrapper {
    margin: 0 0 -15px;
  }
}
.main-section .easy-steps-section .card-wrapper .card-inner {
  padding: 0 20px;
}
@media (max-width: 1199px) {
  .main-section .easy-steps-section .card-wrapper .card-inner {
    padding: 0 13px;
  }
}
@media (max-width: 991px) {
  .main-section .easy-steps-section .card-wrapper .card-inner {
    padding: 0 13px 25px;
  }
}
@media (max-width: 479px) {
  .main-section .easy-steps-section .card-wrapper .card-inner {
    padding: 0 0 15px;
  }
}
.main-section .easy-steps-section .card-wrapper .mat-mdc-card {
  text-align: center;
  border: unset;
  box-shadow: none;
}
.main-section .easy-steps-section .card-wrapper .mat-mdc-card .image-block {
  margin-bottom: 24px;
  min-height: 60px;
  min-width: 60px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 1199px) {
  .main-section .easy-steps-section .card-wrapper .mat-mdc-card .image-block {
    margin-bottom: 15px;
  }
}
.main-section .easy-steps-section .card-wrapper .mat-mdc-card span {
  display: block;
}
.main-section .easy-steps-section .card-wrapper .mat-mdc-card .mat-mdc-card-content {
  padding: unset;
  padding: unset;
  font-size: 16px;
  max-width: 220px;
  margin: 0 auto;
  line-height: 1.5;
}
.main-section .meet-our-doctors-section {
  padding: 80px 0;
  background-color: #FFF5FB;
}
@media (max-width: 1199px) {
  .main-section .meet-our-doctors-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .main-section .meet-our-doctors-section {
    padding: 40px 0;
  }
}
.main-section .meet-our-doctors-section .card-wrapper {
  margin: 0 -30px;
}
@media (max-width: 1199px) {
  .main-section .meet-our-doctors-section .card-wrapper {
    margin: 0 -13px;
  }
}
@media (max-width: 991px) {
  .main-section .meet-our-doctors-section .card-wrapper {
    margin: 0 -13px -25px;
  }
}
@media (max-width: 991px) {
  .main-section .meet-our-doctors-section .card-wrapper {
    margin: 0 0 -15px;
  }
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner {
  padding: 0 30px;
}
@media (max-width: 1199px) {
  .main-section .meet-our-doctors-section .card-wrapper .card-inner {
    padding: 0 13px;
  }
}
@media (max-width: 991px) {
  .main-section .meet-our-doctors-section .card-wrapper .card-inner {
    padding: 0 13px 25px;
  }
}
@media (max-width: 479px) {
  .main-section .meet-our-doctors-section .card-wrapper .card-inner {
    padding: 0 0 15px;
  }
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner .mat-mdc-card {
  background-color: rgb(255, 255, 255);
  padding: 30px 30px 10px 30px;
  border: 1px solid rgba(40, 37, 44, 0.08);
  border-radius: 8px;
  height: 100%;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.5s;
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner .mat-mdc-card .image-block {
  margin-bottom: 15px;
  border-radius: 5px;
  overflow: hidden;
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner .mat-mdc-card span {
  color: #9327ff;
  font-size: 16px;
  margin-bottom: 10px;
  display: inline-block;
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner .mat-mdc-card p {
  font-size: 14px;
  line-height: 1.4;
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner .mat-mdc-card em {
  position: absolute;
  top: 31px;
  right: 0;
  background-color: #00D193;
  padding: 6px 8px;
  border-radius: 3px 0 0 3px;
  font-style: normal;
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner .mat-mdc-card em img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 6px;
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner .mat-mdc-card em span {
  margin: 0;
  color: rgb(255, 255, 255);
  font-size: 14px;
  vertical-align: middle;
}
.main-section .meet-our-doctors-section .card-wrapper .card-inner .mat-mdc-card:hover {
  box-shadow: 0 10px 24px 0px rgba(255, 0, 138, 0.12);
}
.main-section .top-searched-specialties-section {
  padding: 80px 0;
}
@media (max-width: 1199px) {
  .main-section .top-searched-specialties-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .main-section .top-searched-specialties-section {
    padding: 40px 0;
  }
}
.main-section .top-searched-specialties-section .card-wrapper {
  margin: 0 -15px;
}
@media (max-width: 1199px) {
  .main-section .top-searched-specialties-section .card-wrapper {
    margin: 0 -13px;
  }
}
@media (max-width: 991px) {
  .main-section .top-searched-specialties-section .card-wrapper {
    margin: 0 -13px -25px;
  }
}
@media (max-width: 479px) {
  .main-section .top-searched-specialties-section .card-wrapper {
    padding: 0 0 -15px;
  }
}
.main-section .top-searched-specialties-section .card-wrapper .card-inner {
  flex: 0 0 16.66%;
  max-width: 16.66%;
  padding: 0 15px;
}
@media (max-width: 1199px) {
  .main-section .top-searched-specialties-section .card-wrapper .card-inner {
    padding: 0 13px;
  }
}
@media (max-width: 991px) {
  .main-section .top-searched-specialties-section .card-wrapper .card-inner {
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 0 13px 25px;
  }
}
@media (max-width: 575px) {
  .main-section .top-searched-specialties-section .card-wrapper .card-inner {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 479px) {
  .main-section .top-searched-specialties-section .card-wrapper .card-inner {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 0 15px;
  }
}
.main-section .top-searched-specialties-section .card-wrapper .card-inner .mat-mdc-card {
  border: 1px solid rgb(238, 238, 238);
  padding: 20px 13px;
  text-align: center;
  height: 100%;
  box-shadow: unset;
}
.main-section .top-searched-specialties-section .card-wrapper .card-inner .mat-mdc-card .image-block {
  margin-bottom: 20px;
}
.main-section .top-searched-specialties-section .card-wrapper .card-inner .mat-mdc-card span {
  color: #28252C;
  font-size: 18px;
  font-weight: 500;
}
.main-section .change-your-life-section .background-image {
  background-image: url(../images/background-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  border-radius: 8px;
}
.main-section .change-your-life-section .background-image .heading {
  padding: 73px 40px;
  max-width: 1060px;
  margin: 0 auto;
}
@media (max-width: 867px) {
  .main-section .change-your-life-section .background-image .heading {
    flex-direction: column;
    align-items: flex-start;
  }
}
@media (max-width: 1199px) {
  .main-section .change-your-life-section .background-image .heading {
    padding: 60px 40px;
  }
}
@media (max-width: 767px) {
  .main-section .change-your-life-section .background-image .heading {
    padding: 25px;
  }
}
.main-section .change-your-life-section .background-image .heading span {
  margin-right: 6px;
}
.main-section .change-your-life-section .background-image .heading h2 {
  font-size: 48px;
  color: rgb(255, 255, 255);
  line-height: 1.2;
  margin: 0;
  text-transform: capitalize;
}
@media (max-width: 1199px) {
  .main-section .change-your-life-section .background-image .heading h2 {
    font-size: 44px;
  }
}
@media (max-width: 1023px) {
  .main-section .change-your-life-section .background-image .heading h2 {
    font-size: 40px;
  }
}
@media (max-width: 991px) {
  .main-section .change-your-life-section .background-image .heading h2 {
    font-size: 36px;
  }
}
@media (max-width: 767px) {
  .main-section .change-your-life-section .background-image .heading h2 {
    font-size: 32px;
  }
}
@media (max-width: 867px) {
  .main-section .change-your-life-section .background-image .heading h2 {
    margin-bottom: 15px;
  }
}
.main-section .change-your-life-section .background-image .heading h2 span {
  display: block;
}
.main-section .video-content-section {
  padding: 80px 0;
}
@media (max-width: 1199px) {
  .main-section .video-content-section {
    padding: 60px 0;
  }
}
@media (max-width: 767px) {
  .main-section .video-content-section {
    padding: 40px 0;
  }
}
.main-section .video-content-section .mat-mdc-card {
  border: 1px solid rgba(40, 37, 44, 0.08);
  padding: 23px 20px 20px;
  border-radius: 8px;
  box-shadow: unset;
}
.main-section .video-content-section .mat-mdc-card .profile-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 22px;
}
.main-section .video-content-section .mat-mdc-card .profile-wrapper .left-side {
  display: flex;
  padding-right: 20px;
}
.main-section .video-content-section .mat-mdc-card .profile-wrapper .left-side .image-block {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
  object-fit: cover;
  margin-right: 10px;
}
.main-section .video-content-section .mat-mdc-card .profile-wrapper .left-side .image-block img {
  width: 100%;
  height: 100%;
}
.main-section .video-content-section .mat-mdc-card .profile-wrapper .left-side .name-active-status span {
  font-size: 16px;
  font-weight: 500;
  color: #28252C;
}
.main-section .video-content-section .mat-mdc-card .profile-wrapper .left-side .name-active-status p {
  font-size: 11px;
  color: #7C8894;
  line-height: 1.4;
}
.main-section .video-content-section .mat-mdc-card .video-content-wrapper .video-content {
  position: relative;
  padding-bottom: 43.5%;
  overflow: hidden;
  border-radius: 8px;
  object-fit: cover;
  margin-bottom: 20px;
}
.main-section .video-content-section .mat-mdc-card .video-content-wrapper .poster-image {
  position: absolute;
  top: 0;
  left: 0;
}
.main-section .video-content-section .mat-mdc-card .video-content-wrapper span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}
@media (max-width: 1199px) {
  .main-section .video-content-section .mat-mdc-card .video-content-wrapper span img {
    width: 100px;
  }
}
@media (max-width: 575px) {
  .main-section .video-content-section .mat-mdc-card .video-content-wrapper span img {
    width: 80px;
  }
}
@media (max-width: 374px) {
  .main-section .video-content-section .mat-mdc-card .video-content-wrapper span img {
    width: 60px;
  }
}
.main-section .video-content-section .mat-mdc-card .video-content-wrapper p {
  color: #28252C;
  max-width: 1012px;
  line-height: 1.6;
  font-family: "Rubik", sans-serif;
  height: 65px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.main-section .video-content-section .mat-mdc-card .video-content-wrapper p.visible {
  height: auto;
  display: inline-block;
}
.main-section .video-content-section .mat-mdc-card .video-content-wrapper .read-more-less {
  display: block;
  margin-top: 10px;
  color: #EDBA36;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.5s;
}
.main-section .video-content-section .mat-mdc-card .video-content-wrapper .read-more-less:hover {
  color: #9327ff;
}

.site-footer {
  background-image: url(../images/background-Footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.site-footer .footer-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 80px 0;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 1199px) {
  .site-footer .footer-wrapper {
    padding: 60px 0;
    flex-wrap: wrap;
  }
}
@media (max-width: 767px) {
  .site-footer .footer-wrapper {
    padding: 40px 0;
  }
}
@media (max-width: 1199px) {
  .site-footer .footer-wrapper .logo-wrapper {
    margin-bottom: 10px;
  }
}
@media (max-width: 991px) {
  .site-footer .footer-wrapper .logo-wrapper {
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 0;
  }
}
@media (max-width: 991px) {
  .site-footer .footer-wrapper .nav-listing-outer {
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 18px;
  }
}
.site-footer .footer-wrapper .nav-listing-outer .nav-listing {
  display: flex;
  margin: 0 -17px;
}
@media (max-width: 1280px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing {
    margin: 0 -10px;
  }
}
@media (max-width: 991px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing {
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: -10px;
  }
}
.site-footer .footer-wrapper .nav-listing-outer .nav-listing li {
  padding: 0 17px;
}
@media (max-width: 1280px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing li {
    padding: 0 10px;
  }
}
@media (max-width: 575px) {
  .site-footer .footer-wrapper .nav-listing-outer .nav-listing li {
    flex: 0 0 100%;
    max-width: 100%;
    padding-bottom: 10px;
  }
}
.site-footer .footer-wrapper .nav-listing-outer .nav-listing li a {
  color: rgb(255, 255, 255);
  transition: all 0.5s;
}
.site-footer .footer-wrapper .nav-listing-outer .nav-listing li a:hover {
  color: #EDBA36;
}
@media (max-width: 1199px) {
  .site-footer .footer-wrapper .social-media-outer {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
.site-footer .footer-wrapper .social-media {
  display: flex;
  margin: 0 -10px;
}
@media (max-width: 991px) {
  .site-footer .footer-wrapper .social-media {
    justify-content: center;
  }
}
@media (max-width: 575px) {
  .site-footer .footer-wrapper .social-media {
    margin: 0 -5px;
  }
}
.site-footer .footer-wrapper .social-media li {
  padding: 0 10px;
}
@media (max-width: 575px) {
  .site-footer .footer-wrapper .social-media li {
    padding: 0 5px;
  }
}
.site-footer .footer-wrapper .social-media li a {
  height: 46px;
  width: 46px;
  border-radius: 50%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}
.site-footer .footer-wrapper .social-media li a:hover {
  background-color: #EDBA36;
}
@media (max-width: 374px) {
  .site-footer .footer-wrapper .social-media li a {
    height: 35px;
    width: 35px;
  }
}
@media (max-width: 374px) {
  .site-footer .footer-wrapper .social-media li a img {
    width: 18px;
    max-height: 18px;
  }
}
.site-footer .footer-bottom-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  padding: 24px 0 20px;
}
@media (max-width: 575px) {
  .site-footer .footer-bottom-wrapper {
    flex-direction: column;
    align-items: center;
  }
}
.site-footer .footer-bottom-wrapper p {
  color: rgb(255, 255, 255);
}
@media (max-width: 575px) {
  .site-footer .footer-bottom-wrapper p {
    margin-bottom: 5px;
  }
}
.site-footer .footer-bottom-wrapper .content-wrap {
  margin: 0 -5px;
}
.site-footer .footer-bottom-wrapper .content-wrap a {
  color: rgb(255, 255, 255);
  transition: all 0.5s;
  position: relative;
  padding: 0 5px;
}
.site-footer .footer-bottom-wrapper .content-wrap a:hover {
  text-decoration: underline;
}
.site-footer .footer-bottom-wrapper .content-wrap a.right-line::after {
  content: " ";
  height: 17px;
  width: 2px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  right: -1px;
}/*# sourceMappingURL=main.css.map */