
$black: #000000;
$white: rgb(255, 255, 255);
$white-opacity: rgba(255, 255, 255, 20%);
$primary-color: #EDBA36;
$secondary-color: #9327ff;
$secondary-color-opacity:rgba(147, 39, 255, 0.9);
$fonts-color:#827C8A;
$fonts-color-1:#7C8894;
$heading-color: #28252C;
$border-color:rgba(130, 124, 138, 0.25);
$border-color-1:rgba(40, 37, 44, 0.08);
$border-color-2:rgba(238, 238, 238, 1);
$placeholder-color:#A7A1B0;
$bg-color:#FFF5FB;
$bg-color-1:rgba(0, 0, 0, 0.25);
$success-color:#00D193;
$box-shadow: 0 10px 24px 0px rgba(255, 0, 138, 0.12);
$transition: all 0.5s ;

