$black: #000000;
$white: rgb(255, 255, 255);
$white-opacity: rgba(255, 255, 255, 20%);
$primary-color: #edba36;
$secondary-color: #9327ff;
$purple_color: #9327ff;
$purple_color1: #761fcc2e;
$pink_color: #ff008a;
$pink_color1: #ff008a2e;
$secondary-color-opacity: rgba(147, 39, 255, 0.9);
$fonts-color: #827c8a;
$fonts-color-1: #7c8894;
$fonts-color-2: #919191;
$heading-color: #28252c;
$border-color: rgba(130, 124, 138, 0.25);
$border-color-1: rgba(40, 37, 44, 0.08);
$border-color-2: rgba(238, 238, 238, 1);
$border-color-3: rgba(40, 37, 44, 0.25);
$border-color-4: #e0dee2;
$placeholder-color: #a7a1b0;
$bg-color: #fff5fb;
$bg-color-1: rgba(0, 0, 0, 0.25);
$bg-color-2: #f8fcfb;
$bg-color-3: #f9f9f9;
$success-color: #00d193;
$box-shadow: 0 10px 24px 0px rgba(255, 0, 138, 0.12);
$transition: all 0.5s;
$grey: #e4e4e4;
$grey1: #535156;
$grey2: #e0dee2;
