@use "@angular/material" as mat;

@include mat.core();

$primary-color: mat.define-palette(mat.$deep-orange-palette, 900);
$secondary-color: mat.define-palette(mat.$yellow-palette);
$warn: mat.define-palette(mat.$green-palette);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary-color,
      accent: $secondary-color,
      warn: $warn,
    ),
    density: 0,
  )
);

@include mat.all-component-themes($theme);
@include mat.button-density(-1);

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
