<footer class="site-footer">
    <div class="container">
        <div class="footer-wrapper">
            <div class="logo-wrapper">
                <a href="#" title="YUME"><img src="../../../assets/images/yume-logo.svg" alt="yume-logo"></a>
            </div>

            <div class="nav-listing-outer">
                <ul class="nav-listing">
                    <li><a href="#" title="Home">Home</a></li>
                    <li><a href="#" title="About Us">About Us</a></li>
                    <li><a href="#" title="Find a Doctor">Find a Doctor</a></li>
                    <li><a href="#" title="FAQ">FAQ</a></li>
                    <li><a href="#" title="Contact Us">Contact Us</a></li>
                </ul>
            </div>


            <div class="social-media-outer">
                <ul class="social-media">
                    <li><a href="facebook.com" title="Facebook"><img src="../../../assets/images/facebook.svg" alt="facebook"></a>
                    </li>
                    <li><a href="instagram.com" title="Instagram"><img src="../../../assets/images/instagram.svg"
                                alt="instagram"></a></li>
                    <li><a href="twitter.com" title="Twitter"><img src="../../../assets/images/twitter.svg" alt="twitter"></a></li>
                    <li><a href="youtube.com" title="Youtube"><img src="../../../assets/images/youtube.svg" alt="youtube"></a></li>
                </ul>
            </div>

        </div>

        <div class="footer-bottom-wrapper">
            <p>© 2022 YUME. All rights reserved.</p>

            <div class="content-wrap">
                <a href="" title="Terms of service" class="right-line">Terms of service</a>
                <a href="" title="Privacy Policy">Privacy Policy</a>
            </div>
        </div>
    </div>
</footer>
